<h1>Friends index</h1>

<h2>Total friends: {{model.length}}</h2>

{{#each model as |friend|}}
  <li>{{friend.id}} {{fullname.friend}} {{friend.firstName}} {{friend.lastName}} {{friend.twitter}} </li>
{{/each}}
